body{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 260px;
  border-radius: 20px; 
  transition: transform 0.3s ease; /* smidig rörelse */
  
}

img:hover {
  transform: scale(1.1); /* förstorar bilden lite */
}

p{
    color: white;
}

.Contact a {
  color: white;
  text-decoration: none; /* valfritt: tar bort understrykning */
}

.Contact a:hover {
  text-decoration: underline; /* valfritt: vid hover */
}

ul{
    color:white
}